<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			<title>华中科技大学CS1708作业提交系统</title>
				</head>
                    <body>
                        <form name="input" action="/api/task/create"  method="post" enctype="multipart/form-data">
                            学号<input type="text" name="id"><br>
                            姓名<input type="text" name="name"><br>
                            选择文件<input type="file" name="file">
                            <input type="submit" value="提交">
                        </form>
                    </body>
</html>

